# Backend
SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=http://localhost:3000
DATABASE_PATH=./data/db/mathsim.db
PROCESSED_DATA_PATH=./data/processed
OLLAMA_URL=http://localhost:11434/api/chat
OLLAMA_MODEL=llama3.2:1b

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
